node_modules/
.env
.env.*
dist/
coverage/
*.log
.DS_Store
**/.DS_Store
**/.idea/
**/.vscode/
**/*.xcuserstate
**/DerivedData/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Pods/
android/.gradle/
.codex/
